.mainDiv {
    height: auto;
    width: 100%;
    background-color: #282c34;
    display: flex;
    justify-content: space-between;
}

.welcome {
    padding: 10px;
    font-size: 2rem;
    color: white;
}

.logoutBtn {
    margin-top: 10px;
    margin-right: 10px;
}